<!-- http://www.mobirise-tutorials.com/Datepicker/ -->
<script type="text/javascript" src="{{ url_for('static', filename='datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datepicker/js/bootstrap-datepicker.de.min.js') }}"></script>
<script>
$('.datepicker').datepicker({
// Datums-Format, optional DD schreibt Wochentag aus
format: 'DD, dd.mm.yyyy',
// Start-Datum aktiv ab -3 Tage vom Tagesdatum
startDate: '-3d',
// Tagesdatum hervorheben
todayHighlight: true,
// automatisch nach Datumswahl schließen
autoclose: true,
// Sprache Deutsch setzen
language: 'de'
});
</script>