<!DOCTYPE html>
<html>
	{% include "header.html" %}
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Title_App</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('index') }}">Information <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('rm_calculator') }}">1RM Rechner</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('training') }}">Training</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('fortschritt') }}">Fortschritt</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('resultate') }}">Resultate</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container-fluid mt-4">
			<h1>Motivation für diese Webseite: </h1>
			<p>Manchmal ist es nicht schlecht, zu wissen, welches Gewicht man bei einer Übung maximal bewältigen kann. Das 1 RM (Repetition Maximux) ist das Gewicht, welches man genau 1 Mal, technisch sauber, bei einer Übung bewältigen kann. Man muss den 1 RM Wert kennen, um bestimmte Trainingsziele wirkungsvoll umzusetzen oder um allgemeine Trainigspläne mit Prozentangaben zum 1 RM Wert anzupassen. <p>Wenn du eine Übung mit maximalen Gewicht ausführst, ist das Verletzungsrisiko sehr hoch. Zum Glück gibt es Möglichkeiten, diese Gefahr zu umgehen. Der Wiederholungszahlen-Rechner ist ein Werkzeug, mit dem du nicht nur deinen 1 RM Wert bestimmen kannst, sondern auch, je nach Trainingsziel, ein Gewicht bestimmen kannst, mit dem du eine vorgegebene Anzahl an Wiederholungen schaffst.</p>
			</p>
			<a class="btn btn-primary" href="rm-calculator" role="button">1RM berechnen</a>
		</div>
		{% include "footer.html" %}
	</body>
</html>