<!DOCTYPE html>
<html>
	{% include "header.html" %}
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Title_App</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('index') }}">Information</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('rm_calculator') }}">1RM Rechner</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('training') }}">Training</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('tracking') }}">Tracking<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('resultate') }}">Resultate</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container-fluid mt-4">
			<h1>Tracking:</h1>
			<form method="POST">
				<div class="form-group">
					<label for="rm_auswahl">Trainingsauswahl</label>
					<select class="form-control" id="trainings_auswahl" name="trainings_auswahl">
						{% for training in trainingseinheiten %}
							<option value="{{ training['titel'] }}">{{ training["titel"]}} {{ training["rm"]["resultat"]}} Gewicht: {{ training["rm"]["gewicht"]}}, Wiederholungen: {{ training["rm"]["wiederholungen"]}} </option>
						{% endfor %}
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Beginne dein Tracking</button>
			</form>
		</div>
		{% include "footer.html" %}
	</body>
</html>