<!DOCTYPE html>
<html>
	{% include "header.html" %}
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Title_App</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('index') }}">Information</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('rm_calculator') }}">1RM Rechner</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{ url_for('training') }}">Training<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('fortschritt') }}">Fortschritt</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('resultate') }}">Resultate</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container-fluid mt-4">
			{% if existiert_bereits %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Holy guacamole!</strong> Dieser Eintrag existiert bereits!
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
			{% endif %}
			<h1>Training: </h1>
			<p> In questo riquadro puoi scegliere uno dei tuoi RM che hai calcolato nella pagina precedente e che si sono salvati automaticamente.</p><p>
		Basta scegliere l'obiettivo per il quale ti vuoi allenare e inserisci la data di partenza e quando vorresti finire. </p>
		<p>Buon allenamento!</p>
		<form method="POST">
			<div class="form-group">
				<label for="rm_auswahl">1 RM Auswahl</label>
				<select class="form-control" id="rm_auswahl" name="rm">
					{% for i in rms %}
						<option value="{{ i }}">{{ i["uebungsname"]}} | 1RM: {{ i["resultat"]}} Gewicht: {{ i["gewicht"]}}, Wiederholungen: {{ i["wiederholungen"]}} </option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label for="verbesserungsbereich">Verbesserungsbereich</label>
				<select class="form-control" id="verbesserungsbereich" name="verbesserungsbereich">
					<option value="kraft">Kraft</option>
					<option value="ausdauer">Ausdauer</option>
					<option value="muskelaufbau">Muskelaufbau</option>
				</select>
			</div>
			<div class="form-group">
				<label for="formGroupExampleInput">Anzahl Trainingseinheiten</label>
				<input type="number" min="1" step="1" class="form-control" id="formGroupExampleInput" placeholder="Bitte Anhzahl Trainingseinheiten eingeben" name="trainingseinheiten" required>
			</div>
			<div class="form-group">
				<label for="startdatum">Startdatum</label>
				<div class="input-group date">
					<input type="text" class="form-control datepicker" id="startdatum" placeholder="TT.MM.JJJJ" name="startdatum">
				</div>
			</div>
			<div class="form-group">
				<label for="enddatum">Enddatum</label>
				<div class="input-group date">
					<input type="text" class="form-control datepicker" id="enddatum" placeholder="TT.MM.JJJJ" name="enddatum">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Speichern</button>
		</form>
	</form>
	{% include "footer.html" %}
</body>
</html>