<!DOCTYPE html>
<html>
	{% include "header.html" %}
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Title_App</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('index') }}">Information</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('rm_calculator') }}">1RM Rechner</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{ url_for('training') }}">Training<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('tracking') }}">Tracking</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('resultate') }}">Resultate</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container-fluid mt-4">
			{% if existiert_bereits %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Holy guacamole!</strong> Dieser Eintrag existiert bereits!
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
			{% endif %}
			<h1>Training: </h1>
			<p> Hier kannst du eine von den berechnete 1RM auswählen und auf den gewünschen Verbesserungsbereich klicken. Wähle noch den Startdatum und LOS! </p>
			<p>Viel Spass beim training!</p>
			<form method="POST">
				<div class="form-group">
					<label for="rm_auswahl">1 RM Auswahl</label>
					<select class="form-control" id="rm_auswahl" name="rm">
						{% for i in rms %}
							<option value="{{ i }}">{{ i["beschreibung"]}} 1RM: {{ i["resultat"]}} | Gewicht: {{ i["gewicht"]}} Wiederholungen: {{ i["wiederholungen"]}} </option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="formGroupExampleInput">Titel</label>
				<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Bitte Trainingstitel eingeben" name="titel" required></div>
				<div class="form-group">
					<label for="verbesserungsbereich">Verbesserungsbereich</label>
					<select class="form-control" id="verbesserungsbereich" name="verbesserungsbereich">
						<option value="kraft">Kraft</option>
						<option value="ausdauer">Ausdauer</option>
						<option value="muskelaufbau">Muskelaufbau</option>
					</select>
				</div>
				<div class="form-group">
					<label for="startdatum">Startdatum</label>
					<div class="input-group date">
						<input type="text" class="form-control datepicker" id="startdatum" placeholder="TT.MM.JJJJ" name="startdatum">
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Speichern</button>
			</form>
		</div>
		{% include "footer.html" %}
	</body>
</html>